---

import { siteConfig, umamiConfig } from "../config";
---

<div
	id="config-carrier"
	data-hue={siteConfig.themeColor.hue}
	data-umami-stats-url={umamiConfig.enable ? `${umamiConfig.baseUrl}/public-stats` : undefined}
>
</div>
